:root {
	--headerFont: "Playfair", serif;
	--textFont: "Lora", serif;
	--primaryColor: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
.HyacinthPage {
	margin: 0 auto;
	padding: 20px 30px;
	background: var(--primaryColor);
	font-family: var(--headerFont);
}
.container {
	background: var(--primaryColor);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}
.HyacinthPage .container-clear {
	background: transparent;
	padding: 15px 15px 0 15px;
	margin: 30px;
}
.HyacinthPage h1 {
	font-size: 80px;
}
.HyacinthPage h2 {
	text-align: center;
	font-size: 35px;
}
.HyacinthPage p {
	font-family: var(--textFont);
	font-size: 15px;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.HyacinthPage .column5 {
	flex: 20%;
	max-width: 20%;
	margin: 0 auto;
	margin-bottom: 10px;
}
.HyacinthPage .column3 {
	flex: 33%;
	max-width: 100%;
	padding: 20px;
}
.column3 img {
	border-radius: 4px;
}
.HyacinthPage .img-adjust {
	height: 275px;
	width: 100%;
}
@media (max-width: 900px) {
	.HyacinthPage {
		padding: 1px 30px;
	}
	.HyacinthPage .column5,
	.HyacinthPage .column3 {
		flex: 100%;
		max-width: 100%;
	}
	.HyacinthPage h1 {
		font-size: 50px;
	}
	.HyacinthPage h2 {
		font-size: 35px;
	}
	.column3 p {
		margin: 0;
	}
	.HyacinthPage .img-adjust {
		height: 275px;
		width: 60%;
	}
}
