:root {
	--headerFont: "Playfair", serif;
	--textFont: "Lora", serif;
	--primaryColor: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
.HyacinthPage {
	margin: 0 auto;
	padding: 20px 30px;
	background: var(--primaryColor);
	font-family: var(--headerFont);
}
.HyacinthPage h1 {
	font-size: 80px;
}
.HyacinthPage h2 {
	margin-top: 200px;
	text-align: center;
	font-size: 35px;
}
.HyacinthPage p {
	font-family: var(--textFont);
	font-size: 15px;
}
.HyacinthPage .img-adjust {
	height: 275px;
	width: 100%;
}
.HyacinthPage .column5 {
	flex: 20%;
	max-width: 20%;
	margin: 0 auto;
	margin-bottom: 10px;
}
.container {
	background: var(--primaryColor);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}
.container-clear {
	background: transparent;
	padding: 15px 15px 0 15px;
	margin: 30px;
}
.row {
	display: flex;
	flex-wrap: wrap;
}

.column3 img {
	border-radius: 4px;
}
@media (max-width: 900px) {
	.column5 {
		flex: 100%;
		max-width: 100%;
	}
}
