.PlantsPage {
	margin: 0 auto;
	padding: 20px 30px;
}
.PlantsPage h2 {
	margin-top: 200px;
	text-align: center;
}
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
.column2 {
	flex: 50%;
	max-width: 100%;
}
.column3 {
	flex: 33%;
	max-width: 33%;
	padding: 0 4px;
}
.column4 {
	flex: 25%;
	max-width: 100%;
	padding: 0 4px;
}
.PlantsPage img {
	margin-top: 8px;
	height: 300px;
	width: auto;
	border-radius: 4px;
	transition: all 100ms ease-in-out;
}
.PlantsPage img:hover {
	transform: scale(2.5);
	cursor: pointer;
}

@media (max-width: 900px) {
	.column2 {
		flex: 100%;
		max-width: 100%;
	}
	.column3 {
		flex: 100%;
		max-width: 100%;
	}
}
