.PlantsPage {
	margin: 0 auto;
	padding: 20px 30px;
}
.PlantsPage h2 {
	margin-top: 200px;
	text-align: center;
}
.PlantsPage .row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
.PlantsPage .column {
	flex: 50%;
	max-width: 50%;
}

.PlantsPage .column img {
	margin-top: 8px;
	height: 500px;
	width: auto;
	border-radius: 4px;
}
@media (max-width: 900px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
}
