:root {
	--headerFont: "Playfair", serif;
	--textFont: "Lora", serif;
	--primaryColor: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
.PlantsPage {
	margin: 0 auto;
	padding: 20px 30px;
	background: var(--primaryColor);
	font-family: var(--headerFont);
}
.PlantsPage h1 {
	font-size: 80px;
}
.PlantsPage h2 {
	margin-top: 200px;
	text-align: center;
	font-size: 40px;
}
.PlantsPage p {
	font-family: var(--textFont);
	font-size: 16px;
}

.margin-adjust {
	margin-top: 270px !important;
}
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
.columnDate {
	flex: 25%;
	max-width: 25%;
}
.column2 {
	flex: 75%;
	max-width: 75%;
}
.column3 {
	flex: 37%;
	max-width: 37%;
	padding: 0 4px;
}
.column-grid-container {
	flex: 75%;
	max-width: 75%;
	padding: 0 4px;
}
.column2-grid {
	flex: 50%;
	max-width: 50%;
}
.column2 img {
	margin-top: 8px;
	height: 500px;
	width: 50%;
	border-radius: 25px;
	padding: 20px;
	transition: all 100ms ease-in-out;
}
.column3 img {
	margin-top: 8px;
	height: 500px;
	width: 100%;
	border-radius: 25px;
	padding: 20px;
	transition: all 100ms ease-in-out;
}
.column2-grid img {
	margin-top: 8px;
	height: 300px;
	width: 100%;
	border-radius: 10px;
	padding: 5px;
	transition: all 100ms ease-in-out;
}
.PlantsPage img:hover {
	transform: scale(1.5);
	cursor: pointer;
}
.column2-grid img:hover {
	transform: scale(1.75);
}
@media (max-width: 900px) {
	.PlantsPage h2 {
		margin-top: 0;
	}
	.columnDate,
	.column2,
	.column3,
	.column-grid-container,
	.column2-grid {
		flex: 100%;
		max-width: 100%;
	}
	.PlantsPage h2 {
		text-align: center !important;
	}
	.margin-adjust {
		margin: 0 !important;
	}

	.column2 img,
	.column3 img,
	.column3 img,
	.column2-grid img {
		height: 400px;
		width: 100%;
		border-radius: 25px;
		padding: 10px;
		transition: all 100ms ease-in-out;
	}
}
@media (min-width: 900px) {
	.PlantsPage hr {
		display: none;
	}
}
