:root {
	--headerFont: "Playfair", serif;
	--textFont: "Lora", serif;
	--primaryColor: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
}
.PothosPage {
	margin: 0 auto;
	padding: 20px 30px;
	background: var(--primaryColor);
	font-family: var(--headerFont);
}
.PothosPage h1 {
	font-size: 80px;
}
.PothosPage p {
	font-family: var(--textFont);
	font-size: 17px;
}
.container {
	background: var(--primaryColor);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}
.PothosPage .container-clear {
	background: transparent;
	padding: 15px 15px 0 0;
	margin: 30px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}
.column3 {
	flex: 33%;
	max-width: 100%;
	padding: 20px;
}
.column3 p {
	margin-top: 150px;
	text-align: center;
}
.column5 {
	flex: 20%;
	max-width: 20%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.column5 h3 {
	font-family: var(--textFont);
	font-size: 20px;
	margin-top: 10px;
}
.column5 img {
	border-radius: 4px;
	height: 300px;
	transition: all 100ms ease-in-out;
}
.column5 img:hover {
	transform: scale(2);
}
@media (max-width: 900px) {
	.PothosPage {
		padding: 1px 30px;
	}
	.column3,
	.column5 {
		flex: 100%;
		max-width: 100%;
	}
	.PothosPage h1 {
		font-size: 50px;
	}
	.PothosPage h2 {
		font-size: 35px;
	}
	.column3 p {
		margin: 0;
	}
}
